.header{
    display: flex;
    justify-content: center;
    padding-block: 1.25rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.menu{
    display: flex;
    /* gap: .5rem; */
    padding-inline: .75rem;
    padding-block: .25rem;
    border-radius: 1.5rem;
    background: var(--secondary-bg);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid var(--black)
}

.menu-link{
    border-radius: 1.5rem;
    padding-inline: .5rem;
    transition: .2s;
    font-weight: bold;
}

.menu-link:hover{
    background: var(--hover-bg)
}